= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = text_field :access_keys, :size => "80x5"
    %span.help-block
      = t(".access_keys_hint")

    %fieldset
      %legend
        = t(".serial_console")

      = boolean_field :use_serial_console
      = string_field :serial_tty
