= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = text_field :access_keys, :size => "80x5"
    %span.help-block
      = t(".access_keys_hint")

    = string_field :shell_prompt
    %span.help-block
      = t(".shell_prompt_hint")

    %fieldset
      %legend
        = t(".serial_console")

      = boolean_field :use_serial_console
      = string_field :serial_tty
